<!--Login part of the website-->
<div class="email-block justify-content-center">
  <h1 class="text-center mb-3">Login</h1>
  <form class="text-center justify-content-center" id="">
    <div>
      <label for="email" class="form-label">Enter Email</label>
      <br />
      <div class="d-flex justify-content-center">
        <input
          type="email"
          name="email"
          class="form-control col-lg-offset-4"
          id="inputEmail"
          [(ngModel)]="email"
        />
      </div>
    </div>

    <br />
    <label for="password">Enter Password</label>
    <br />
    <div class="d-flex justify-content-center">
      <input
        type="password"
        id="inputPassword6"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>

    <div class="buttons">
      <a
        href="./mainpage.html"
        class="btn btn-info"
        id="login"
        routerLink="/home"
        >Login</a
      >

      <a
        href="./register.html"
        class="btn btn-outline-info"
        id="register"
        routerLink="/register"
        >Register</a
      >
    </div>
  </form>
</div>
