<!--Navbar for the application -->
<app-navbar></app-navbar>
<!--Analytics part-->
<div class="card mt-5">
  <div class="card-body p-5">
    <h1 class="text-center">Welcome to the Analytics website administrator</h1>
    <p class="text-center">
      With this page you can view the activities of your application
    </p>
    <div class="justify-content-center d-flex">
      <a href="" class="btn btn-info">To Your Website</a>
    </div>
  </div>
</div>
<!--Card to explain why analytics-->
<div class="card mt-5">
  <h2 class="text-center">Why analytics?</h2>

  <div class="m-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let induvidual of card_components">
        <div class="card p-3">
          <img [src]="induvidual.ImagePath" alt="" />
          <div class="card-body">
            <h5 class="card-title">{{ induvidual.title }}</h5>
          </div>
          <div class="card-text">
            <p>{{ induvidual.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer for the application-->
<app-footer></app-footer>
